<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Регистрация</title>
</head>
<body>
<form class="login_form" method="post">
    <h2>Вход в систему</h2>
    <input type="text" class="form-control" id="login" placeholder="Введите логин" name="login">
    <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
    <button type="submit" class="btn btn-primary">Войти</button>
    <a href="{{ url_for('register') }}">Регистрация</a>
</form>
</body>